//mixins.jade

mixin piece(piece)
  h5: a(href=piece.homepage)= piece.artist
  h5: strong: em= piece.title
  p!= piece.description
  img(src=piece.image, class="img-responsive")
  p.small= piece.videoinfo
  hr

mixin event(event)
  h4= event.title
  p!= event.description
