// second.jade

//- include mixins


mixin piece(piece)
  img(src=piece.image, class="img-responsive")
  h5: a(href=piece.homepage)= piece.artist
  h5: strong: em= piece.title
  p.small= piece.videoinfo
  p!= piece.description

mixin event(event)
  h4= event.title
  p!= event.description

mixin eventblock(day)
  - var i = 0
  ul(class="list-inline")
    each event in events 
      if event.time == day
        - i++
    if i > 1
      - i = 0
      each event in events
        div(id=day+"List")
        if event.time == day
          - i++
          if i==1
            li
              strong: a(href="#"+day+event._id)= event.title
          else
            li: a(href="#"+day+event._id)= event.title
  each event,index in events
    if event.time == day
      if index>=1
        a(name=day+event._id, class="pull-right", href="#"+day+"List") 
          small TODAY'S EVENTS &uarr;
      else
        a(name=day+event._id, class="pull-right", href="#"+day+event._id) 
          small.text-muted TODAY'S EVENT
      a(name="top"+event._id)
      +event(event)
      - var j = ""
      each piece,index in event.pieces
        - var x = index - 1
        if index < 1 
          - j = "#"+day+event._id
        else
          - j = "#jump"+event._id+x
        
        a(name="jump"+event._id+index, href=j, class="pull-right")
          small.text-muted JUMP &uarr;
        +piece(piece)


//thursday
#thursdayInfoCollapse.colHeader
  hr
  a.collapsed(data-toggle="collapse", href="#thursdayInfoCollapseData")
    h1 Thursday 21
  hr
#thursdayInfoCollapseData.collapse
  +eventblock("thursday")

//friday
#fridayInfoCollapse.colHeader
  hr
  a.collapsed(data-toggle="collapse", href="#fridayInfoCollapseData")
    h1 Friday 22
  hr
#fridayInfoCollapseData.collapse
  +eventblock("friday")


//saturday
#saturdayInfoCollapse.colHeader
  hr
  a.collapsed(data-toggle="collapse", href="#saturdayInfoCollapseData")
    h1 Saturday 23
  hr
#saturdayInfoCollapseData.collapse
  +eventblock("saturday")
